{% extends 'index.html' %} {% block content %}
<div id="hr-interns-container" class="bg-gradient-to-b from-blue-200 to-white m-0">
  <header
    class="flex flex-col md:flex-row md:justify-between p-5 w-10/12 mx-auto pt-16 mb-10 md:mb-0"
  >
    <h1
      class="text-3xl sm:w-1/2 mb-10 md:mb-0 font-black"
      style="font-family: lato; color: #2a3c8a"
    >
      Find the Best
      <span style="color: #3bb98e"> HR Intern </span>for Your Team
    </h1>

    <h2
      class="text-xl md:self-center md:ms-24 md:w-1/2"
      style="color: #2a3c8a"
    >
      Discover the right candidate through our pre-vetted list of skilled talent
      from top colleges
    </h2>
  </header>
  <div class="flex flex-row flex-wrap justify-center">
    {% for intern in interns %}
    <li
      class="list-none m-6 lg:m-10 bg-white rounded-2xl shadow-xl w-1/3"
      style="min-width: 326px; max-width: 350px;"
    >
      <div class="video-container w-full rounded-t-2xl border-amber-400">
        <video
          class="plyr__video-embed pb-0 rounded-t-2xl"
          id="player{{ forloop.counter }}"
        >
          <source src="{{ intern.fields['Video Link'] }}" type="video/mp4" />
        </video>
      </div>

      <div class="p-5 pb-4">
        <div
          class="particulars flex flex-row justify-between align-middle mb-auto"
        >
          <span class="w-11/12">
            <p
              class="font-semibold text-black text-2xl mb-2"
              style="font-family: lato"
            >
              {{ intern.fields.Name }}
            </p>
            <p class="overflow-ellipsis text-lg font-light" >{{ intern.fields['College Name'] }}</p>
          </span>
          <a 
          style="width: 25px"
          href="{{intern.fields['Linkedin Url']}}" >
            <img
            class="w-full"
              src="https://upload.wikimedia.org/wikipedia/commons/8/81/LinkedIn_icon.svg"
              alt="LinkedIn_icon"
            />
          </a>
        </div>

        <div class="skills flex flex-row my-4 justify-start">
          <span class="lang-apt">
            <span class="skill-label text-slate-400 uppercase" style="font-size: 12px;">
              Language & Aptitude Skills
            </span>
            <p class="skill-level" >
              {{intern.fields['Language and Aptitude Skill']}}
            </p>
          </span>

          <span class="hr-skills ms-4">
            <span class="skill-label text-slate-400 uppercase" style="font-size: 12px;">
              Hr Skills
            </span>
            <p class="skill-level">{{intern.fields['HR Skills Quiz']}}</p>
          </span>
        </div>

        <div class="flex justify-around my-4 mt-12 ">
          <a
            type="email"
            href="mailto: {{intern.fields.Email}}"
            class="flex flex-row justify-center items-center text-xs mx-1 no-underline text-white bg-custom-blue rounded-full px-4 py-2 font-normal hover:text-white hover:no-underline"
          >
            <img src="/copy.png" alt="copy" class="me-1">
            <span style="font-size: 10px;">
              EMAIL
            </span>
          </a>
          <button
            class="flex flex-row justify-center items-center text-xs mx-1 text-white bg-custom-blue rounded-full px-4 py-2 font-normal"
          >
            <img src="/lock-closed.png" alt="locked" class="me-1">
            <span style="font-size: 10px;">
              MOBILE
            </span>
          </button>
          <a
            download
            href="{{intern.fields.CV}}"
            class="flex flex-row justify-center items-center text-xs mx-1 no-underline text-white bg-custom-blue rounded-full px-4 py-2 font-normal hover:text-white hover:no-underline"
          >
            <img src="/download.png" alt="download" class="me-1">
            <span style="font-size: 10px;">
              RESUME
            </span>
            </a>
        </div>
      </div>
    </li>
    {% endfor %}
  </div>
  <script src="https://cdn.plyr.io/3.6.2/plyr.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const videos = Array.from(document.querySelectorAll(".video-container"));

      videos.forEach((video, index) => {
        let videoElement = video.firstElementChild;
        const player = new Plyr(videoElement, {
          controls: [
            "play",
            "play-large",
            "progress",
            "mute",
            "volume",
            "fullscreen",
          ],
          autoplay: false,
        });
        player.elements.controls.style.display = "none";
        video.addEventListener("mouseenter", () => {
          player.elements.controls.style.display = "inherit";
        });

        video.addEventListener("mouseleave", () => {
          player.elements.controls.style.display = "none";
          player.pause();
        });
      });
    });
  </script>
</div>

{% endblock %}
